<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Free movie catalogue for you">
<link rel="icon" href="./favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<title>HOMIEPET</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <!-- navbar -->
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" aria-label="add to like">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>HOMIEPET</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="#favorite">Service</a></li>
        <li><a href="#tentangkami">Tentang Kami</a></li>
      </ul>
    </nav>
  </header>

  <div class="container-fluid jumbotron" style="  background-image: url('./landak.png');">
    <p>Selamat Datang di Homiepet!</p>
  </div>

  <div class="hero">
    <!-- <img src="./hero-image_2.jpg"   alt=""> -->
    <div class="hero__inner">
      <strong><p class="hero__title" style="font-size: 35px; text-transform: uppercase;">Layanan</p></strong>
      <div id="contents"></div>
    </div>
  </div>
  <footer>
    <p>HOMIEPET - Copyright &copy; 2022</p>
  </footer>
</body>

</html>